{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>Interationale Gäste</h1>
    <a class="btn btn-primary mt-3" href="{{ url_for('admin.guest_new') }}" role="button">Neuer Gast</a>

  </div>

  {% for guest in guests.items %}
    <a href="{{ url_for('admin.guest_update', slug=guest.slug) }}" class="text-reset">
      <div class="row {{ loop.cycle('bg-light', 'bg-transparent') }}">
        <div class="col-2 col-lg-1">
          {{ guest.guest_nr }}
        </div>
        <div class="col">
          {{ guest.list_name }}
        </div>
      </div>
    </a>
  {% else %}
    <div class="row">
      <div class="col">
        Keine Gäste gefunden
      </div>
    </div>
  {% endfor %}



<nav aria-label='Guests aria' class="mt-2">
  <ul class="pagination justify-content-center">
    {% for page_num in guests.iter_pages(left_edge=1,right_edge=1,left_current=2,right_current=3)  %}
      {% if page_num %}
        <li class='page-item {% if guests.page == page_num %}disabled{% endif %}'>
          <a class="page-link" href="{{url_for('admin.guests_page',page=page_num)}}">{{ page_num}}</a>
          </li>
      {% else %}
        <li class='page-item disabled'>
          <span class="page-link">...</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</nav>


{% endblock %}