{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>Registrerte Benutzer</h1>

    <form action="{{ url_for('admin.get_user') }}" method="get" class="mt-2">
      <input type="hidden" name="page" value="{{ reg_users.page }}">

      <div class="form-row">
      <div class="form-group col-10">
          <label for="getuser">Benutzer suchen</label>
          <input type="text" class="form-control" id="getuser" name="getuser" required list="userlist" autofocus>
      </div>

        <button type="submit" class="col btn btn-primary my-3 ml-2">Suchen</button>

      </div>
    </form>

    <h5 class="mt-3">
      Gesperrte Benutzer sind in der Liste <span style="color: red">rot</span> geschrieben.
    </h5>

  </div>

  {% for reg_user in reg_users.items %}
    <a href="{{ url_for('admin.user_detail', slug=reg_user.slug, page=reg_users.page) }}" class="text-reset">
      <div class="row {{ loop.cycle('bg-light', 'bg-transparent') }}"
        {% if not reg_user.active %} style="color: red" {% endif %}
      >
        <div class="col-9">
          {{ reg_user.member.list_name }}
        </div>
        <div class="col">
          {{ roles_as_str[reg_user.roles|length()-1] }}
        </div>
      </div>
    </a>
  {% else %}
    <div class="row">
      <div class="col">
        Keine Benutzer gefunden
      </div>
      </div>
  {% endfor %}



<nav aria-label='Users aria' class="mt-2">
  <ul class="pagination justify-content-center">
    {% for page_num in reg_users.iter_pages(left_edge=1,right_edge=1,left_current=2,right_current=3)  %}
      {% if page_num %}
        <li class='page-item {% if reg_users.page == page_num %}disabled{% endif %}'>
          <a class="page-link" href="{{url_for('admin.registered_users',page=page_num)}}">{{ page_num}}</a>
          </li>
      {% else %}
        <li class='page-item disabled'>
          <span class="page-link">...</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</nav>

  <datalist id="userlist">
    {% for user in all_users %}
      <option>
        {{ user.member.last_name }} {{ user.member.first_name }}
        {% if user.member.fed_nr %}
          {{ user.member.fed_nr }}
        {% else %}
          {{ user.member.guest_nr }}
        {% endif %}
      </option>

    {% endfor %}

  </datalist>


{% endblock %}