{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>Neue Konventionskarte</h1>

    <p class="mt-3">
      Pro Partnerschaft könnt ihr ein PDF Dokument hinterlegen.
      Vorlagen findest du zum Beispiel auf den Homepages des
      <a href="https://www.bridgeaustria.at/bridgedownloads/konventionskarten/" target="_blank">ÖBV</a> oder der
      <a href="http://www.worldbridge.org/rules-regulations/competitions/wbf-convention-card-editors/" target="_blank">WBF</a>.
    </p>
    <p>
      Um den Partner zu wählen, schreib einfach einen beliebigen Teil seines Namens und wähl ihn dann aus der Liste,
      die sich öffnet, sodass er komplett mit der Kennung im Feld steht.
    </p>

    {{ wtf.quick_form(form, extra_classes=' mt-3 ', button_map={'submit':'primary'}) }}

  </div>

  <datalist id="memberlist">
    {% for possible_partner in possible_partners %}
      <option>
        {{ possible_partner.last_name }} {{ possible_partner.first_name }}
        {% if possible_partner.fed_nr %}
          {{ possible_partner.fed_nr }}
        {% else %}
          {{ possible_partner.guest_nr }}
        {% endif %}
      </option>

    {% endfor %}

  </datalist>
{% endblock %}