{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>
      {% if new_param %}
        Neue {{ param_type[0] }}
      {% else %}
        {{ param_type[1] }}
      {% endif %}
    </h1>

    <form class="form" method="post" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}

      <div class="form-row">
        <div class="col-2 col-lg-1">
          {{ wtf.form_field(form.id) }}
        </div>
        <div class="col">
          {{ wtf.form_field(form.name) }}
        </div>
      </div>
      
      {% if show_tourn_type %}
        {{ wtf.form_field(form.tournament_type) }}
      {% endif %}

      {{ wtf.form_field(form.submit, button_map={'submit':'primary'}) }}

      {% if not new_param %}
        <button type="button" class="btn btn-danger ml-2 " data-toggle="modal" data-target="#DelModal">
          Löschen
        </button>

        <a class="btn btn-dark ml-2" href="{{ url_for('tournadmin.new_vpscale') }}" role="button">Zurück</a>
      {% endif %}

    </form>
  </div>

  {% for parameter in parameters.items %}
    <a href="{{ url_for('tournadmin.update_vpscale', id=parameter.id) }}" class="text-reset">
      <div class="row {{ loop.cycle('bg-light', 'bg-transparent') }}">
        <div class="col-2 col-lg-1">
          {{ parameter.id }}
        </div>
        <div class="col">
          {{ parameter.name }}
        </div>
      </div>
    </a>
  {% else %}
    <div class="row">
      <div class="col">
        Keine Einträge gefunden
      </div>
    </div>
  {% endfor %}



<nav aria-label='Guests aria' class="mt-2">
  <ul class="pagination justify-content-center">
    {% for page_num in parameters.iter_pages(left_edge=1,right_edge=1,left_current=2,right_current=3)  %}
      {% if page_num %}
        <li class='page-item {% if parameters.page == page_num %}disabled{% endif %}'>
          <a class="page-link" href="{{url_for('tournadmin.new_vpscale',page=page_num)}}">{{ page_num}}</a>
          </li>
      {% else %}
        <li class='page-item disabled'>
          <span class="page-link">...</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</nav>


{#    <!-- Modalfor confirm delete -->#}
    <div class="modal fade" id="DelModal" tabindex="-1" aria-labelledby="DelModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Löschen bestätigen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% if this_param %}
              Parameter {{ this_param.id }} {{ this_param.name }} wirklich löschen?
            {% endif %}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
            {% if this_param %}
              <form action="#" method="get">
                <button type="submit" class="btn btn-danger">Löschen</button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}