{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>Profil</h1>
    <p class="mt-3">
      Hier kannst du festlegen, wie du deinen Namen bei RealBridge Turnieren, für die wir persönliche Links
      generieren, geschrieben haben willst. Beispielsweise Akzente, Kurzformen für den Vornamen.
    </p>

    <form class="form" method="post" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens='only') }}

      <div class="form-row">
        <div class="col-2">
          {{ wtf.form_field(form.sex) }}
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          {{ wtf.form_field(form.first_name) }}
        </div>
        <div class="col">
          {{ wtf.form_field(form.last_name) }}
        </div>
      </div>

      {{ wtf.form_field(form.submit, button_map={'submit':'primary'}) }}
    </form>

    <br/>

    {% if not user_manager.USER_ENABLE_AUTH0 %}
        {% if user_manager.USER_ENABLE_CHANGE_USERNAME %}
            <p><a href="{{ url_for('user.change_username') }}">Benutzernamen ändern</a></p>
        {% endif %}
        {% if user_manager.USER_ENABLE_CHANGE_PASSWORD %}
            <p><a href="{{ url_for('user.change_password') }}">Passwort ändern</a></p>
        {% endif %}
    {% endif %}

  </div>

{% endblock %}