{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>Melde dich bitte an!</h1>

      <form action="" method="post" class="form" role="form">
        {{ form.hidden_tag() }}

        <br>
      {% set field= form.email %}
      <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label for="{{ field.id }}" class="control-label">Email</label>
        {{ field(class='form-control', autofocus=True) }}
      </div>

      {% set field= form.password %}
      <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label for="{{ field.id }}" class="control-label">Passwort</label>
        {{ field(class='form-control', autofocus=True) }}
      </div>

      {% set field=form.remember_me %}
      <div class="form-check">
        {{ field(class="form-check-input") }}
        <label class="form-check-label" for="{{ field.id }}">
          angemeldet bleiben
        </label>
      </div>

      <input type="submit" class="btn btn-default btn-primary mt-3" value="Anmelden">
      <small class="form-text">
        <a href="#">Passwort vergessen</a>
        <a href="/user/register">noch nicht registriert</a>
      </small>

    </form>
  </div>
{% endblock %}