{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>Melde dich bitte an!</h1>

    <form class="form" method="post" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens=True) }}

      {{ wtf.form_field(form.email) }}
      {{ wtf.form_field(form.password) }}
      {{ wtf.form_field(form.remember_me) }}
      {{ wtf.form_field(form.submit, button_map={'submit':'primary'}) }}

      <small class="form-text">
        <a href="#">Passwort vergessen</a>
        <a href="/user/register">noch nicht registriert</a>
      </small>
    </form>
  </div>
{% endblock %}