{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>Registrierung</h1>

      <form action="" method="post" class="form" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens='only') }}

        {{ wtf.form_field(form.email) }}

      <div class="form-row">
        <div class="col">
          {{ wtf.form_field(form.password) }}
        </div>

        <div class="col">
          {{ wtf.form_field(form.retype_password) }}
        </div>
      </div>

      <div class="myGroup">
        <div style="margin: 1%">
          <p>
            Diese drei Felder dienen der Zuordnung des Benutzers zur Spielertabelle
            und der Prüfung der Identität. Österreichische Spieler mögen bitte ihre
            ÖBV-Nummer, unsere internationalen Gäste die ID (ÖBV-Nr 0 lassen),
            die sie von uns erhalten, eintragen.
          </p>
          <div class="form-row">
            <div class="col">
              {{ wtf.form_field(form.oebv_nr) }}
            </div>
            <div class="col">
              {{ wtf.form_field(form.guest_nr) }}
            </div>
          </div>

          {{ wtf.form_field(form.last_name) }}
        </div>
      </div>

      <div class="mt-3">
        {{ wtf.form_field(form.submit, button_map={'submit':'primary'}) }}
      </div>

      <small class="form-text">
        <a href="/user/sign-in">bereits registriert</a>
      </small>

    </form>
  </div>
{% endblock %}