{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
      <h1>Datenschutz</h1>
    <p class="mt-3">
      Folgende personenbezogene Daten werden gespeichert:
    </p>
    <ul>
      <li>Name </li>
      <li>Anrede</li>
      <li>Gehashtes Passwort</li>
      <li>Anmeldung zu Turnieren</li>
    </ul>
    <p>
      Das Passwort ist zu keinem Zeitpunkt in Klartext ersichtlich und kann daher nur mit den dafür vorgesehenen
      Routinen zurückgesetzt werden.
    </p>
    <p>
      Es werden Anmeldungen an Turnierleiter und Clubs weitergegeben, ansonsten erfolgt
      <span class="font-weight-bold">keine Weitergabe</span> von Daten.
    </p>
    <p>
      Die Daten liegen auf einem Server innerhalb der Europäischen Union.
      <a href="https://blog.pythonanywhere.com/176/" target="_blank">Hier</a> das Statement des Betreibers.
    </p>
  </div>

{% endblock %}